/*
    Paleta
    Principal - #0378A6
    Secundaria - #0477BF

*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Color Theme Swatches in Hex */

:root {
    --cor-1: #0378A6;
    --cor-2: #0477BF; 
    --cor-3: #ACD7F2;
    --cor-4: #F2F2F2;
    --texto-principal: 'Merriweather', sans-serif;
    --titulos: 'Mulish', sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--texto-principal);
}

body {
    background-color: var(--cor-4);
    min-height: 100vh;
    font-family: var(--texto-principal);
}

/* Generals */

p {
    line-height: 1.5em;
}

header {
    background-color: var(--cor-4);
    display: flex;
    padding: 5px 16px;

}

ul li {
    display: inline-block;
    margin: 0 14px;
}

li > a {
    text-decoration: none;
    font-size: 15.5px;
    color: black;
    font-family: var(--titulos);
    transition: color .3s;
}

li > a:hover {
    color: rgba(0, 0, 0, 0.452);
}

#menu {
    flex-grow: 1;
    align-self: center;
    text-align: center;
}

/* Hero */

#hero  {
    display: flex;
    height: 60vh;
}

section#home #hr {
    margin-bottom: 250px;
}

#card-hero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3em;
    padding-left: 90px;

}

#img-hero {
    flex-basis: 500px;
    background-color: rgba(0, 0, 0, 0.048);
}

#card-hero {
    flex-grow: 4;

}

#card-hero h2 {
    width: 394px;
    font-family: var(--titulos);
    font-weight: 800;

}

#img-hero  img {
    display: block;
    width: 100%;
    height: 100%;
}


#card-hero > p {
    text-align: left;
}

 #links > a {
    background-color: var(--cor-2);
    padding: 8px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin: 0 5px;
    font-weight: bold;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.178);
    opacity: .8;
    transition: opacity .3s;
 }

  #links > a:hover {
    opacity: 1;
  }

#links > a:last-child {
    background-color: var(--cor-3);
    color: rgb(105, 105, 105);
    transition: color .3s;

}

 #links > a:last-child:hover {
    color: black;
 }

#card-hero p, #card-hero h2, #card-hero #links {
    width: 500px;
}

/* Cards */

#livros h2 {
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding: 10px 0;
    font-family: var(--titulos);
    font-weight: 700;
}

#livros > p {
    text-align: center;
    padding: 10px 0 80px 0;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 15px;
    margin-bottom: 250px;

}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    display: block;
    width: 100%;
}

#container .card {
    outline: 1px solid black;
    flex: 0 1 397px;
}


#content {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}

#content > span, #content > h3, #content > a {
    display: block;
    margin-bottom: 10px;
}

div#info {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 9px;
}

#content > a {
    align-self: flex-end;
    padding: 10px;
    background-color: var(--cor-2);
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 10px;

}

/* Table */
section#dashboard {
    padding-bottom: 550px;
}

section#autores {
    padding-bottom: 600px;
}

caption {
    font-size: 2em;
    font-weight: bold;
    padding: 10px 0;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}


table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
    padding: 20px;
}

th, td {
    text-align: center;
}

/* Create */

div#actions {
    max-width: 800px;
    margin: 80px auto;
}
#create {
    margin-bottom: 200px;
}
.options {
    display: flex;
    margin: 20px 0;
    height: 300px;
}

.heading, .imagem {
    flex: 1;

}

.heading h3, .heading p  {
    width: 200px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.imagem {
    border-radius: 35px;
    overflow: hidden;
}

.imagem img {
    display: block;
    width: 100%;
    height: 100%;
}

#item-2 {
    order: -2;
}
/* Create livros / autores */
#create-livro, #create-autor {
    margin: 60px 0;
    
}
#forms {
    max-width: 1000px;
    margin: auto;
}



#forms form, #forms h2 {
    width: 380px;
    margin: auto;
    
}

#forms h2 {
    padding: 30px 0;
    text-align: center;
    font-family: var(--titulos);
    font-size: 2.6em;
}

.form-group {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 14px;
    gap: 5px;
    font-family: var(--titulos);
}

label {
    font-weight: bold;
    font-family: var(--titulos);
}

/* textarea {
    padding: ;
} */

input, textarea, select {
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.349);
}

input[type=submit] {
    width: 100%;
    background-color: var(--cor-2);
    color: white;
    font-weight: bold;
    border: none;
    opacity: .7;
    transition: opacity .3s;
    font-family: var(--titulos);
    font-size: 1.1em;
}

input[type=submit]:hover {
    cursor: pointer;
    opacity: 1;
}
/* Todos os livros que eu já li */

#index-livros{
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.041);
}

#all-livros {
    padding: 20px;
}

#all-livros > h2 {
    text-align: center;
    font-weight: bolder;
    font-family: var(--titulos);
    font-size: 2em;

}

#all-books-card {
    display: flex;
    flex-flow: row wrap;
    gap: 19px;
    max-width: 87%;
    margin: auto;
    padding: 20px;
}

.card-book {
    flex: 0 1 370px;
    height: 350px;
    background-color: white;
    
    
}

.img-content {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.062);

}

.card-book img {
    display: block;
    width: 200px;
    margin: auto;
    
    object-fit: cover;
    
}

.info {
    padding: 10px;
}

.info h3 {
    font-family: var(--titulos);
    font-weight: bolder;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

footer p {
    font-family: var(--titulos);
    text-align: center;
}
